window#waybar {
	font-family: SymbolsNerdFontMono, JetBrainsMonoNerdFont;
	font-size: 16px;
	background-color: transparent;
    /* transition-property: background-color; */
    /* transition-duration: .5s; */
}

window#waybar.hidden {
    opacity: 0.0;
}

button {
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    /* box-shadow: inset 0 -3px #ffffff; */
}





/* TAGS */

#tags {
	font-size: 16px;
	background-color: rgba(16, 16, 16, 0.9);
	border-radius: 4px;
	margin: 0 2px;
	padding: 0 4px;
}

#tags button {
	margin: 2px -2px;
	padding: 0 10px;
	border-radius: 3px;
	background-color: transparent;
	color: #444;
}

#tags button:hover {
    background: #202020;
}

#tags button.occupied,
#tags button.occupied.focused {
	color: white;
}

#tags button.focused {
	background-color: #286983;
	color: #222;
}

#tags button.urgent {
    background-color: #cc241d;
}






/* CLOCK */

#time {
	background-color: rgba(16, 16, 16, 0.9);
	border-radius: 4px;
}
#clock {
	/*color: #000;*/
	padding: 0 12px;
}

#custom-clockface {
    font-size: 18px;
	padding: 0 0 0 12px;
	margin: 2px 0 2px 2px;
	border-radius: 2px 0 0 2px;
	background-color: #f2e9e1;
	color: rgba(16, 16, 16, 0.9);
	/*color: #000000;*/
}

#clock.date {
}

#clock.time {
	font-family: DSEG14Modern;
	margin: 2px 2px 2px 0;
	border-radius: 0 2px 2px 0;
	background-color: #f2e9e1;
	color: rgba(16, 16, 16, 0.9);
}









/* SLIDERS */

#backlightgroup {
	padding: 0 2px 0 4px;
	background-color: rgba(16, 16, 16, 0.9);
	border-radius: 4px;
}
#backlight {
	padding: 0 4px 0 4px;
	color: #f2e9e1;
}
#backlight-slider {
	min-width: 100px;
	padding: 0 0 0 4px;
	border-radius: 2px;
}
#backlight-slider slider {
	min-height: 28px;
	min-width: 0px;
	box-shadow: none;
	border-radius: 0;
	border: none;
}
#backlight-slider highlight {
	min-height: 28px;
	min-width: 0px;
	padding: 0px;
	background-color: #ea9d34;
	border: none;
	border-width: 0px;
}
#backlight-slider trough {
	background-color: #333;
	border: none;
}


#pulseaudiogroup {
	padding: 0 2px 0 4px;
	background-color: rgba(16, 16, 16, 0.9);
	border-radius: 4px;
}
#pulseaudio {
	padding: 0 4px 0 4px;
	color: #f2e9e1;
}
#pulseaudio-slider {
	min-width: 100px;
	padding: 0 0 0 4px;
	border-radius: 4px;
}
#pulseaudio-slider slider {
	min-height: 28px;
	min-width: 0px;
	box-shadow: none;
	border-radius: 0;
	border: none;
}
#pulseaudio-slider highlight {
	min-height: 28px;
	min-width: 0px;
	padding: 0px;
	background-color: #907aa9;
	border: none;
	border-width: 0px;
}
#pulseaudio-slider trough {
	background-color: #333;
	border: none;
}












/* Connections */
#connections {
	background-color: rgba(16, 16, 16, 0.9);
	padding: 2px;
	border-radius: 4px 0 0 4px;
}
#network {
	background-color: #f2e9e1;
	padding: 0 8px 0 12px;
	border-radius: 2px 0 0 2px;
	color: rgba(16, 16, 16, 0.9);
}
#bluetooth {
	background-color: #f2e9e1;
	border-radius: 0 2px 2px 0;
	padding: 0 12px 0 8px;
	color: rgba(16, 16, 16, 0.9);
}
#bluetooth.disabled {
	color: #555;
}
#bluetooth.connected {
	color: rgb(0, 130, 252);
}








/* MISC */

#battery {
	background-color: rgba(16, 16, 16, 0.9);
	padding: 0 12px 0 8px;
	border-radius: 0 4px 4px 0;
}


#tray {
	margin-right: 16px;
	border-left: 2px solid #d79921;
}

#battery.charging, #battery.plugged {
    color: #26A65B;
}

@keyframes blink {
    to {
        /* background-color: rgba(#000000, 0); */
        color: #FFFFFF;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    color: #cc241d;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}







/* Power options */

#power {
	background-color: rgba(16, 16, 16, 0.9);
	padding: 2px;
	border-radius: 4px;
}

#custom-arch {
	padding: 0 20px;
    color: #181818;
	background-color: #286983;
	border-radius: 2px;
}

#custom-shutdown {
	color: #eb6f92;
	font-size: 14px;
	padding: 0 12px 0 8px;
}
#custom-reboot {
	color: #ea9d34;
	font-size: 14px;
	padding: 0 8px;
}
#custom-sleep {
	color: #c4a7e7;
	font-size: 14px;
	padding: 0 8px;
}
#custom-lock {
	color: #31748f;
	font-size: 14px;
	padding: 0 8px;
}
#custom-logout {
	color: #ea9a97;
	font-size: 14px;
	padding: 0 8px;
}








#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #cc241d;
}
