window#waybar {
	font-family: JetBrainsMonoNerdFontPropo, JetBrainsMonoNerdFont;
	font-size: 16px;
	background-color: #101010;
	/* transition-property: background-color; */
	/* transition-duration: .5s; */
}

window#waybar.hidden {
	opacity: 0.0;
}

button {
	/* Avoid rounded borders under each button name */
	border: none;
	border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
	background: inherit;
}





/* TAGS */

#tags {
	font-size: 16px;
	/* background-color: rgb(16, 16, 16); */
	border-radius: 4px;
	margin: 0 2px;
	padding: 0 4px;
}

#tags button {
	margin: 4px -2px;
	padding: 0 10px;
	border-radius: 2px;
	color: #444;
}

#tags button:hover {
	background: #202020;
}

#tags button.occupied,
#tags button.occupied.focused {
	color: #f2e9d0;
}

#tags button.focused {
	background-color: #286983;
	color: #222;
}

#tags button.urgent {
	background-color: #cc241d;
}






/* CLOCK */

#time {
	/* background-color: rgba(16, 16, 16, 0.9); */
	/* border-radius: 4px; */
}
#clock {
	/*color: #000;*/
	padding: 0 12px;
}

#custom-clockface {
	font-size: 22px;
	padding: 0 2px 0 12px;
	margin: 4px 0 4px 2px;
	border-radius: 2px 0 0 2px;
	background-color: #f2e9d0;
	color: #202020;
}

#clock.date {
	color: #f2e9d0;
}

#clock.time {
	font-family: DSEG14Modern;
	margin: 4px 0;
	border-radius: 0 2px 2px 0;
	background-color: #f2e9d0;
	color: #202020;
}









/* SLIDERS */

#backlightgroup {
	padding: 0 2px 0 4px;
	/* background-color: rgba(16, 16, 16, 0.9); */
	border-radius: 4px;
}
#backlight {
	/* font-size: 16px; */
	padding: 0 4px 0 4px;
	color: #f2e9d0;
}
#backlight-slider {
	min-width: 100px;
	padding: 0 0 0 4px;
	border-radius: 2px;
}
#backlight-slider slider {
	min-height: 28px;
	min-width: 0px;
	box-shadow: none;
	border-radius: 2px;
	border: none;
}
#backlight-slider highlight {
	min-height: 28px;
	min-width: 0px;
	padding: 0px;
	background-color: #d79921;
	border: none;
	border-width: 0px;
}
#backlight-slider trough {
	background-color: #555;
	border: none;
}


#pulseaudiogroup {
	padding: 0 2px 0 4px;
	/* background-color: rgba(16, 16, 16, 0.9); */
	border-radius: 4px;
}
#pulseaudio {
	font-size: 20px;
	padding: 0 4px 0 4px;
	color: #f2e9d0;
}
#pulseaudio-slider {
	min-width: 100px;
	padding: 0 0 0 4px;
	border-radius: 4px;
}
#pulseaudio-slider slider {
	min-height: 28px;
	min-width: 0px;
	box-shadow: none;
	border-radius: 2px;
	border: none;
}
#pulseaudio-slider highlight {
	min-height: 28px;
	min-width: 0px;
	padding: 0px;
	background-color: #98971a;
	border: none;
	border-width: 0px;
}
#pulseaudio-slider trough {
	background-color: #555;
	border: none;
}












/* Connections */
#connections {
	padding: 4px;
	border-radius: 4px 0 0 4px;
}
#network.main {
	font-size: 18px;
	background-color: #f2e9d0;
	padding: 0 8px 0 12px;
	border-radius: 2px 0 0 2px;
	color: #202020;
}
#network.vpn {
	font-size: 18px;
	background-color: #f2e9d0;
	padding: 0 8px 0 8px;
	color: #202020;
}
#bluetooth {
	font-size: 18px;
	background-color: #f2e9d0;
	border-radius: 0 2px 2px 0;
	padding: 0 12px 0 8px;
	color: #202020;
}
#bluetooth.disabled {
	color: #555;
}
#bluetooth.connected {
	color: rgb(0, 130, 252);
}








/* MISC */

#battery {
	/* background-color: rgba(16, 16, 16, 0.9); */
	font-size: 20px;
	padding: 0 12px;
	border-radius: 0 4px 4px 0;
	color: #f2e9d0;
}


#tray {
	margin-right: 16px;
	border-left: 2px solid #d79921;
}

#battery.charging, #battery.plugged {
	color: #98971a;
}

@keyframes blink {
	to {
		/* background-color: rgba(#000000, 0); */
		color: #f2e9d0;
	}
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
	color: #cc241d;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

label:focus {
	background-color: #000000;
}






/* Arch logo */
#custom-arch {
	margin: 2px;
	font-size: 20px;
	padding: 0 20px;
	color: #181818;
	background-color: #458588;
	border-radius: 2px;
}








#tray > .passive {
	-gtk-icon-effect: dim;
}

#tray > .needs-attention {
	-gtk-icon-effect: highlight;
	background-color: #cc241d;
}
